<%- model_class = Meal -%>
<div class="page-header">
  <h1>Pick a meal!</h1>
</div>
<table class="table table-striped">
  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= image_tag(meal.image.url(:thumb)) %></td>
        <td><%= link_to meal.title, meal_path(meal) %> by <%= link_to meal.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
